<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #131413;
        }
        .login-container {
          
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 25vw;
            text-align: center;
            background-color: #323432;
        }
        .login-container h2 {
            margin-bottom: 20px;
        }
        .login-container label {
            display: block;
            margin-bottom: 5px;
            text-align: left;
        }
        .login-container input {
            width: 90%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #323432;
        }
        .login-container button {
            width: 100%;
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-bottom: 10px;
        }
        .login-container button:hover {
            background-color: #45a049;
        }
        .login-container a {
            display: block;
            margin: 10px 0;
            color: #4CAF50;
            text-decoration: none;
        }
        .login-container a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>

<div class="login-container">
    <h2>Login</h2>
    <form action="/user" method="get">
        <label for="email">email:</label>
        <input class="text" type="email" name="email" placeholder="email"required=""/>
        
        <label for="password">Password:</label>
        <input class="text" type="password" name="password" placeholder="Password" required=""/>
        
        <button type="submit">Login</button>
    </form>
    <a href="/signup">Sign Up</a>
    <a href="/forgot-password">Forgot Password?</a>
</div>

</body>
</html>
